<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <% if(currentPage === 'index'){ %>
    <title>Index page</title>
    <% } else if(currentPage === 'register'){ %>
      <title>Register page</title>
      <% }else{ %>
        <title>Home page</title>
      <% } %> -->
      <title><%= currentPage === 'index' ? 'Login Page' : '' || currentPage === 'register' ? 'Register Page' : '' || currentPage === 'home' ? 'Welcome Page' : ''  %></title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  <body>